{% extends "base.html" %}
{% block content %}
[SDN yahoo]
SDN jajaj
<div class="container-fluid" id="hostinfoDiv">
    <p class="text-right">
        <button type="button" class="btn btn-default" id="csvBtn">
            <i class="fa fa-file-excel-o"></i> CSV Export 
        </button>
    </p>
        
        <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Hostname : localhost</h3>
                </div>
                
            </div>
    <div class="row">
        <div class="col-md-6">
            <!-- BASIC TABLE -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">HBA information</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>FC_HBA_Info1</td>
                                <td>Test Info</td>
                            </tr>
                            <tr>
                                    <td>FC_HBA_Info2</td>
                                    <td>Test Info</td>
                            </tr>
                            <tr>
                                    <td>FC_HBA_Info3</td>
                                    <td>Test Info</td>
                            </tr>
                            <tr>
                                    <td>FC_HBA_Info4</td>
                                    <td>Test Info</td>
                            </tr>
                            <tr>
                                    <td>FC_HBA_Info5</td>
                                    <td>Test Info</td>
                            </tr>

                            <tr>
                                    <td>FC_HBA_Info6</td>
                                    <td>Test Info</td>
                            </tr>
                            <tr>
                                    <td>FC_HBA_Info6</td>
                                    <td>Test Info</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END BASIC TABLE -->
        </div>
        <div class="col-md-6">
                <!-- BASIC TABLE -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Additional Information</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Architecture</td>
                                    <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>IP_Address</td>
                                        <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>Kernel</td>
                                        <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>Last_Bundle</td>
                                        <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>Legacy_Name</td>
                                        <td>Test Info</td>
                                </tr>    
    
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END BASIC TABLE -->
            </div>
    </div>
    <div class="row">
            <div class="col-md-6">
                <!-- BASIC TABLE -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Disk information</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>FC_HBA_Info1</td>
                                    <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>FC_HBA_Info2</td>
                                        <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>FC_HBA_Info3</td>
                                        <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>FC_HBA_Info4</td>
                                        <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>FC_HBA_Info5</td>
                                        <td>Test Info</td>
                                </tr>
    
                                <tr>
                                        <td>FC_HBA_Info6</td>
                                        <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>FC_HBA_Info6</td>
                                        <td>Test Info</td>
                                </tr>
    
    
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END BASIC TABLE -->
            </div>
            <div class="col-md-6">
                    <!-- BASIC TABLE -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Other information</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Architecture</td>
                                        <td>Test Info</td>
                                    </tr>
                                    <tr>
                                            <td>IP_Address</td>
                                            <td>Test Info</td>
                                    </tr>
                                    <tr>
                                            <td>Kernel</td>
                                            <td>Test Info</td>
                                    </tr>
                                    <tr>
                                            <td>Last_Bundle</td>
                                            <td>Test Info</td>
                                    </tr>
                                    <tr>
                                            <td>Legacy_Name</td>
                                            <td>Test Info</td>
                                    </tr>    
        
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END BASIC TABLE -->
                </div>
                
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- BASIC TABLE -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">HBA Information</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        </div>
                    </div>
                    <div class="panel-body" >
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>FC_HBA_Info1</td>
                                    <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>FC_HBA_Info2</td>
                                        <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>FC_HBA_Info3</td>
                                        <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>FC_HBA_Info4</td>
                                        <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>FC_HBA_Info5</td>
                                        <td>Test Info</td>
                                </tr>
    
                                <tr>
                                        <td>FC_HBA_Info6</td>
                                        <td>Test Info</td>
                                </tr>
                                <tr>
                                        <td>FC_HBA_Info6</td>
                                        <td>Test Info</td>
                                </tr>
    
    
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END BASIC TABLE -->
            </div>
            
                
        </div>
        {% include 'hosttable.html' %}
   
   
</div>
{% endblock %}