<div style="display:none;">
<table id="hostTable" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>HostName</th>
            <th>HBA1</th>
            <th>HBA2</th>
            <th>HBA3</th>
            <th>HBA4</th>
            <th>HBA5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
                <td>localhos1</td>
                <td>HBA1</td>
                <td>HBA2</td>
                <td>HBA3 info</td>
                <td>HBA4 info</td>
                <td>HBA5 info</td>
        </tr>
        </tbody>
        
</table>
</div>