{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- BASIC TABLE -->
            <div class="panel parent-panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Host 1</strong></h3>
                    <div class="right">
                        <button type="button" class="parent-btn btn-toggle-collapse"><i class="parent-lnr lnr lnr-chevron-up lnr-chevron-down"></i></button>
                    </div>
                </div>
                <div class="panel-body parent-body" style="display:none;">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- BASIC TABLE -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Disk information</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>FC_HBA_Info1</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info2</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info3</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info4</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info5</td>
                                                <td>Test Info</td>
                                            </tr>

                                            <tr>
                                                <td>FC_HBA_Info6</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info6</td>
                                                <td>Test Info</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END BASIC TABLE -->
                        </div>
                        <div class="col-md-6">
                            <!-- BASIC TABLE -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Other information</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>Architecture</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>IP_Address</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>Kernel</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>Last_Bundle</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>Legacy_Name</td>
                                                <td>Test Info</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END BASIC TABLE -->
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BASIC TABLE -->
                            <div class="panel child-panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">HBA Information</h3>
                                    <div class="right">
                                        <button type="button" class="child-btn btn-toggle-collapse"><i class="child-lnr lnr lnr-chevron-up lnr-chevron-down"></i></button>
                                    </div>
                                </div>
                                <div class="panel-body child-body" style="display:none;">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>FC_HBA_Info1</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info2</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info3</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info4</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info5</td>
                                                <td>Test Info</td>
                                            </tr>

                                            <tr>
                                                <td>FC_HBA_Info6</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info6</td>
                                                <td>Test Info</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END BASIC TABLE -->
                        </div>


                    </div>

                </div>
            </div>

            <!-- END BASIC TABLE -->
        </div>


    </div>


    <div class="row">
        <div class="col-md-12">
            <!-- BASIC TABLE -->
            <div class="panel parent-panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Host 2</strong></h3>
                    <div class="right">
                        <button type="button" class="parent-btn btn-toggle-collapse"><i class="parent-lnr lnr lnr-chevron-up lnr-chevron-down"></i></button>
                    </div>
                </div>
                <div class="panel-body parent-body" style="display:none;">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BASIC TABLE -->
                            <div class="panel child-panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">HBA Information</h3>
                                    <div class="right">
                                        <button type="button" class="child-btn btn-toggle-collapse"><i class="child-lnr lnr lnr-chevron-up lnr-chevron-down"></i></button>
                                    </div>
                                </div>
                                <div class="panel-body child-body" style="display:none;">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>FC_HBA_Info1</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info2</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info3</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info4</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info5</td>
                                                <td>Test Info</td>
                                            </tr>

                                            <tr>
                                                <td>FC_HBA_Info6</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info6</td>
                                                <td>Test Info</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END BASIC TABLE -->
                        </div>


                    </div>

                </div>
            </div>
            <!-- END BASIC TABLE -->
        </div>


    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BASIC TABLE -->
            <div class="panel parent-panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Host 3</strong></h3>
                    <div class="right">
                        <button type="button" class="parent-btn btn-toggle-collapse"><i class="parent-lnr lnr lnr-chevron-up lnr-chevron-down"></i></button>
                    </div>
                </div>
                <div class="panel-body parent-body" style="display:none;">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BASIC TABLE -->
                            <div class="panel child-panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">HBA Information</h3>
                                    <div class="right">
                                        <button type="button" class="child-btn btn-toggle-collapse"><i class="child-lnr lnr lnr-chevron-up lnr-chevron-down"></i></button>
                                    </div>
                                </div>
                                <div class="panel-body child-body" style="display:none;">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>FC_HBA_Info1</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info2</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info3</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info4</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info5</td>
                                                <td>Test Info</td>
                                            </tr>

                                            <tr>
                                                <td>FC_HBA_Info6</td>
                                                <td>Test Info</td>
                                            </tr>
                                            <tr>
                                                <td>FC_HBA_Info6</td>
                                                <td>Test Info</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END BASIC TABLE -->
                        </div>


                    </div>

                </div>
            </div>
            <!-- END BASIC TABLE -->
        </div>


    </div>

</div>
{% endblock %}